html, body {

  color: #000;

  background: #3e423f URL("/images/Stock Gate.jpg") no-repeat top center fixed;
  margin: 0
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.slot {
    background-color: #FFF;
    display: inline-block;
    width: 80px;
}

